# Entorno virtual
venv/

# Variables de entorno (contiene contraseñas)
.env

# Archivos compilados de Python
__pycache__/
*.pyc
*.pyo

# Imágenes subidas por usuarios (se generan en producción)
static/uploads/*
!static/uploads/.gitkeep
!static/uploads/audifonos_bluetooth.jpg
!static/uploads/caja_fresas_organicas.jpg
!static/uploads/curso_python_avanzado.jpg

# Carpeta de tests cache
tests/__pycache__/
